@import "tailwindcss";

body {
  overflow-x: hidden;
}

.colors {
  --sfGreen: #00624f;
  --sfGreen8: #1d4116;
  --sfGreen7: #24511c;
  --sfGreen6: #949176;
  --sfGreen5: #0d9381;
  --sfGreen4: #1ecbb8;
  --sfGreen3: #64cbaa;
  --sfGreen2: #a7afa4;
  --sfGreen1: #d6e2d1;

  --sfBrown4: #551f12;
  --sfBrown3: #85572b;
  --sfBrown2: #b28041;
  --sfBrown1: #db9b7d;

  --sfRed6: #a22110;
  --sfRed5: #b63e15;
  --sfRed4: #d06a19;
  --sfRed3: #f1782a;
  --sfRed2: #dea62e;
  --sfRed1: #e1c743;

  --sfBlue2: #181d1d;
  --sfBlue1: #1a4068;
}

@utility masked-img {
  mask-image: url("/logo2.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

.marqueeanimation {
  animation: marquee 60s linear infinite;
}

.gradient-edge {
  @apply absolute
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.gradient-edge:nth-of-type(1) {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.gradient-edge:nth-of-type(2) {
  right: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}


.gradient-line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(63, 165, 149, 0) 0%,
    #00624f 25%,
    #0d9381 37.51%,
    #b63e15 62.83%,
    #e1c743 92.91%
  );
}
